html {
    height: 400px;
    background: linear-gradient(to right, #ff9999 0%, #ffcc99, #ffffcc, #ccffcc 100%);
    font-family: "Lucida Console", "Courier New", monospace;
}
/* this is the navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
  }
  nav{
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
  }
  nav ul li:hover{
    background-color: white;
  }
  nav ul li a{
    text-decoration: none;
    color: black;
    padding: 30px;
  }
/* this is the paragraph */
.hello {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
/*footer*/  
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  color: black;
  }
footer ul li{
  list-style-type: none;
  display: inline-block;
}
footer a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:link {
  background-color: transparent;
  text-decoration: none;
}
